@using Fiver.Mvc.ModelBinding.Custom.Models.Home
@model List<MovieViewModel>

<h3>Home</h3>

<ul>
    @foreach (var item in Model)
    {
        <li><a asp-action="Details" asp-route-id="@item.Id">@item.Title (@item.Id)</a></li>
    }
</ul>